<nav class="bg-slate-900 p-4">
  <ul class="flex justify-end gap-4">
    <li>
      <a class="btn btn-small" href="/">Join club</a>
    </li>
    <li>
      <a class="btn-primary btn-small w-fit" href="/posts/create">Create post</a>
    </li>
    <li>
      <a class="btn-secondary btn-small w-fit" href="/log-out">Log out</a>
    </li>
  </ul>
</nav>
