<div class="bg-slate-900 p-6 mb-6 shadow">
  <h2 class="text-xl font-bold text-white mb-4"><%- post.title %></h2>
  <% for (let paragraph of post.text) { %>
  <p class="mb-4 text-slate-400"><%- paragraph %></p>
  <% } %>
  <p class="italic text-slate-400">Posted by <span class="text-white">anonymous</span></p>
</div>
