<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Create post</title>
  </head>
  <body>
    <h1>Create post</h1>
    <form action="" method="POST">
      <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="title" />
      </div>
      <div>
        <label for="message">Message</label>
        <textarea id="message" name="text"></textarea>
      </div>
      <button>Submit</button>
    </form>
  </body>
</html>
