<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= title %></title>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body class="bg-slate-950">
    <div class="bg-slate-900 p-10">
      <h1 class="text-2xl text-white font-bold">Sign up</h1>
      <form class="max-w-md mt-4 flex flex-col gap-4" action="" method="POST">
        <div>
          <label class="text-slate-400" for="email">Email</label>
          <input
            class="form-control"
            type="email"
            id="email"
            name="email"
            placeholder="john.doe@email.com"
          />
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <label class="text-slate-400" for="first_name">First name</label>
            <input
              class="form-control"
              type="text"
              id="first_name"
              name="first_name"
              placeholder="John"
            />
          </div>
          <div>
            <label class="text-slate-400" for="last_name">Last name</label>
            <input
              class="form-control"
              type="text"
              id="last_name"
              name="last_name"
              placeholder="Doe"
            />
          </div>
        </div>
        <div>
          <label class="text-slate-400" for="password">Password</label>
          <input class="form-control" type="password" id="password" name="password" />
        </div>
        <div>
          <label class="text-slate-400" for="confirmPassword">Confirm password</label>
          <input class="form-control" type="password" id="confirmPassword" name="confirmPassword" />
        </div>
        <button class="btn-primary mt-4">Sign up</button>
      </form>
      <p class="mt-8 text-slate-400">
        You already have an account?
        <a class="link-text" href="/log-in">Log in</a>.
      </p>
    </div>
  </body>
</html>
